mixin input-text(content)
	+b.input-text.--theme-csssr&attributes(attributes)
		+e.item
			+e.title Полное ФИО
			+e.info Копка Роман Александрович
		+e.item
			+e.title Год рождения
			+e.info 28 октября 1988
		+e.item
			+e.title Место жительства
			+e.info г.Симферополь Республика Крым
		+e.item
			+e.title Скайп
			+e.info rolandkroland
		+e.item
			+e.title Почта
			+e.info roman.kopka@yandex.ru