include ../radio/radio.jade

mixin section-plan()
	+b('section').section-plan.--theme-csssr&attributes(attributes)
		+e.title Какие у вас планы на будущее?
		+e.descr Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
		+e('ul').list
			+e('li').item
				+radio({"name": "accessory", "checked": false, "label": "Верстать", "value": "verstka"})
			+e('li').item
				+radio({"name": "accessory", "checked": true, "label": "Прокачиваться в JS", "value": "ddd"})
			+e('li').item
				+radio({"name": "accessory", "checked": false, "label": "Менеджерство", "value": "manager"})
			+e('li').item
				+radio({"name": "accessory", "checked": false, "label": "Другое", "value": "others"})