.section-plan

	&--theme-csssr
		margin-top 56px
	&__title
		font-family $font-pt-bold
		font-size 24px
		line-height 21px
		color $darker
		margin-bottom 11px

	&__descr
		line-height 23px
		margin-bottom 10px

	&__list
		position relative
		top -4px
		left -10px

	&__item
		display inline-block
		margin-right 10px
		&:last-child
			margin-right 0
