mixin section-slider()
	+b('section').section-slider.--theme-csssr&attributes(attributes)
		+e.title Уровень владения JavaScript
		+e.box
			+e.psedo
			+e.item.--one
				+e('a').link(href=jv0) Не владею
			+e.item.--two
				+e('a').link(href=jv0) Использую готовые решения
			+e.item.--three
				+e('a').link(href=jv0) Использую готовые решения и умею их переделывать
			+e.item.--four
				+e('a').link(href=jv0) Пишу сложный JS с нуля
