// Общие
.text
  &--center
    text-align center
  &--left
    text-align left
  &--right
    text-align right

//Основной контейнер
.page
  font-family $font-pt-regular
  font-size 15px
  color $darken-default
  background-color $brown

.wrapper
  max-width 1000px
  min-width 1000px
  min-height 1600px
  margin-x(auto)

  &--bg
    background-image url('../images/bg-wrapper.jpg')
    background-position left top
    background-repeat repeat-y

  &__inner
    width 771px
    margin-x(auto)
    padding-top 48px
    padding-bottom 71px






