@font-face
  font-family 'PTSansBold'
  font-style normal
  font-weight normal
  src url("../fonts/PTSansBold/PTSansBold.eot"),
      url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
      url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
      url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype")

@font-face
  font-family 'PTSansRegular'
  font-style normal
  font-weight normal
  src url("../fonts/PTSansRegular/PTSansRegular.eot"),
      url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
      url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype")

@font-face
  font-family 'CourierNewPSMT'
  font-style normal
  font-weight normal
  src url("../fonts/CourierNew/CourierNewPSMT.eot"),
      url("../fonts/CourierNew/CourierNewPSMT.eot?#iefix")format("embedded-opentype"),
      url("../fonts/CourierNew/CourierNewPSMT.woff") format("woff"),
      url("../fonts/CourierNew/CourierNewPSMT.ttf") format("truetype")