// Цвета
$brown = #797979
$dark = #000
$darker = #2f1b15
$darker-light = #231f20
$darken-default = #3d3d3d
$blur = #1f5f97
$orange = #ebcb98

// Шрифты
$font-size-body = 14px
$font-pt-bold = 'PTSansBold', Arial, sans-serif
$font-pt-regular = 'PTSansRegular', Arial, sans-serif
$font-courier-regular = 'CourierNewPSMT', Arial, sans-serif
