.header
	display block
	width 100%
	clearfix()
	&__logo
		float left
		position relative
		top 14px
		display inline-block
		sprite $logo
	&__secret
		float right
		position relative
		left 60px
		display inline-block
		sprite $i_secret
