mixin section-history()
	+b('section').section-history&attributes(attributes)
		+e.title Расскажите о себе словами
		+e.descr Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		+e('p').text Узнал о вакансии в вашей компании год
		+e('p').text назад, но посмотрев Ваше портфолио  понял,
		+e('p').text что скилов не хватит. Ожидаю хорошую
		+e('p').text прокачку навыков и интересные проекты.
