.section-history

	&__title
		font-family $font-pt-bold
		font-size 24px
		line-height 21px
		color $darker
		margin-bottom 11px

	&__descr
		line-height 23px
		margin-bottom 30px

	&__text
		width 100%
		height 56px
		font-family $font-courier-regular
		font-size 30px
		line-height 50px
		color $darker-light
		background url('../images/border-line-history.png') bottom left no-repeat
